@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


/*      Start Global css configurations*/
*{
  padding: 0px;
  margin: 0px !important;
}
* {
  box-sizing: border-box;
}

/*      End Global css configurations*/

/*      Start Page css configurations*/
section{
  height: 100vh;
  scroll-snap-align:start;
}

.section-wrapper{
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

body{
  color: white !important;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}


#home{
  background-image: url("../assets/bg1.png");
}

#services{
  background-image: url("../assets/bg2.png");
}

#about{
  background-image: url("../assets/bg3.png");
}

#work{
  background-image: url("../assets/bg4.png");
}

#contact{
  background-image: url("../assets/bg5.png");
  position: relative;
} 

/*      End Page css configurations*/

/*Start Nav Bar*/

.navbar{
  width: 100%;
  position: fixed;
  margin-top: 1% !important;
}

.navbar-brand{
  font-size: 50px !important;
  color: #ffffff;
  font-weight: 400;
  font-family: "Damion";
  text-align: center;
  width: 60% !important;
  margin: auto !important;
}

.nav-content{
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato";
  color: #ffffff;
}

.nav-content:hover{
  color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  border-radius: 3px;
  background-color: #74c7d5 !important;
  height: 60px;
}

/*End Nav Bar*/

/*Start Home*/

.home-content-wrapper{
  width: 80%;
  height: 100%;
  margin: auto !important;
  display: flex;
}

.home-section-wrapper{
  margin: auto !important;
  background-color: #ffffff;
  opacity: 0.6;
  font-family: 'Lato';
  color: #39d6f1;
}

.home-description{
  font-size: 36px;
  font-weight: 500;
  text-align: right;
  position: relative;
}

.text-left-primary{
  position: absolute;
  right: 0;
  top: 18px;
}

.text-left-secondary{
  position: absolute;
  right: 0;
  top: 50px;
}

.home-sub-description{
  font-size: 80px;
  font-weight: 600;
  text-align: left;
  font-family: 'Lato' sans-serif;

}


/*.span {
  display: inline-block;
  vertical-align: middle !important;
  line-height: normal;
}
*/
/*End Home*/

/*Start Services*/

.services-content-wrapper{
  text-align: center;
  margin: auto !important;
  width: 70%;
  position: relative;
  top: 20%;
}

.page-title{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 15px;
}

.page-subtitle{
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 10px;
}

.page-description{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #c45158;
  padding: 30px 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card-wrapper{
  margin-top: 60px !important;
}

.card-title{
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  margin-top: 20px !important;
}

.card-description{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-align: justify;
  margin-top: 25px !important;
  font-weight: 600;
  padding: 5px;
}

.serviceBox .service-icon{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    background: #fff;
    font-size: 36px;
    color: #df5c64;
    margin: auto !important;
    position: relative;
    transition: all 500ms ease 0s;
}
.serviceBox:hover .service-icon{
    transform: scale(0.8, 0.8);
}
.serviceBox .service-icon:after{
    content: "";
    width: 111px;
    height: 111px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0;
    transform: scale(0.8, 0.8);
    transition: all 500ms ease 0s;
}
.serviceBox:hover .service-icon:after{
    opacity: 1;
    transform: scale(1, 1);
}


/*End Services*/

/*Start About*/

.about-content-wrapper{
  text-align: center;
  margin: auto !important;
  width: 70%;
  position: relative;
  top: 20%;
}

.about-title{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 15px;
}

.about-description{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

.about-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  opacity: 0.7;
  background-color: #4d3f4b;
  padding: 30px 10px;
}

.about-card:hover {
  opacity: 1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.about-card-wrapper{
  margin-top: 60px !important;
}

.about-card-title{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin-top: 20px !important;
}


.aboutBox .about-icon{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    background: #fff;
    font-size: 36px;
    color: #4d3f4b;
    margin: auto !important;
    position: relative;
    transition: all 500ms ease 0s;
}
.about-card:hover .about-card-info{
    color: #df5c64; 
}

.about-card:hover .about-icon{
    transform: scale(0.8, 0.8);
    border: 4px solid #df5c64;
}

.aboutBox .about-icon:after{
    content: "";
    width: 111px;
    height: 111px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transform: scale(0.8, 0.8);
    transition: all 500ms ease 0s;
}
.aboutBox:hover .about-icon:after{
    opacity: 1;
    transform: scale(1, 1);

}

.aboutBox:hover .fas {
  color: #df5c64;
}

.about-card-info{
  font-size: 14px;
  line-height: 35px;
  color: #a1ca6c;
  font-weight: 400;
  font-family: "Lato";
}

.aboutBox:hover .about-card-info: after{
  content: "";
  color: #df5c64;
  transform: scale(0.8, 0.8);
  transition: all 500ms ease 0s;
  position: relative;
}

.fa-facebook {
  background: #4f689e;
  color: white;
  margin: 5px !important;
}

.fa-twitter {
  background: #74c7d5;
  color: white;
  margin: 5px !important;  
}

.fa-google {
  background: #df5c64;
  color: white;
  margin: 5px !important;
}

.fa-linkedin {
  background: #3e61af;
  color: white;
  margin: 5px !important;
}

i.fab {
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0px 0px 2px #fff;
  padding: 0.5em 0.5em;
}

/*End About*/

/*Start Work*/
.work-section-wrapper{
  text-align: center;
  margin: auto !important;
  width: 70%;
  position: relative;
  top: 15%;
}

.work-title{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 15px;
}

.work-description{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

.work-content-wrapper{
  font-family: 'Lato', sans-serif;
  margin-top: 3% !important;
}

.portfolio{
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.btn{
  border: none;
  background: none;
  font-weight: 700;
  font-family: "Lato" sans-serif;
}

.btn:hover{
  background-image:none !important;
  background-color: #f5c149 !important;
  color: white !important;
  font-weight: 700;
  font-family: "Lato" sans-serif;
}

.btn-wrapper{
  text-align: right;
}

.gallery-wrapper{
  padding: 0 !important;
  margin-top: 3% !important;
}

.gallery-image{
  padding: 0 !important;
}

.photo{
  padding-bottom: 10px !important;
  width: 85% !important;
  height: 160px;
}

/*End work*/

/*Start Contact*/

.contact-content-wrapper{
  text-align: center;
  margin: auto !important;
  width: 75%;
  position: relative;
  top: 20%;
}

.contact-title{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 15px;
}

.contact-description{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

.contact-heading-wrapper{
  margin-top: 5% !important;
  line-height: 7px;
  padding: 0 !important;
}

.contact-heading{
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-top: 10% !important;
  text-align: left;
}

.contact-address{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-align: left;
  line-height: 20px;
}

.mapouter{
  position:relative;
  text-align:right;
  width:180px;
  height:178px;
  }

.gmap_canvas{
  overflow:hidden;
  background:none!important;
  width:180px;
  height:178px;
}

.gmap_iframe{
  width:180px!important;
  height:178px!important;
}

.name{
  line-height: 2;
  color: #75b4aa;
  font-weight: 400;
  border:  none;
  border-radius: 4px;
  background-color: #68a097;
  width: 100% !important;
}

.name-input{
  padding: 0 5px 0 0 !important;
}

.email{
  line-height: 2;
  font-weight: 400;
  border:  none;
  border-radius: 4px;
  background-color: #68a097;
  width: 100% !important;
}

.email-input{
  padding: 0 0 0 5px !important;
}

.name: focus{
  background-color: #fff;
}

.question{
  margin-top: 3% !important;
  height: 80px;
  color: #82c8bd;
  font-weight: 400;
  border:  none;
  border-radius: 4px;
  background-color: #68a097;
}

.button{
 background-color: #df5c64;
 border: none;
 color: white;
 text-align: center;
 font-size: 14px;
 margin-top: 5% !important;
 padding: 10px 20px;
 font-family: 'Lato', sans-serif;
 cursor: pointer;
}

.submit-button
{
  border-radius: 12px;
}

#footer{
  background-color: #68a097;
  position: absolute;
  bottom: 0;
  height: 10%;
  padding-top: 13px;
}

.footer-content{
  background-color: #82c8bd;
}

/*End Contact*/










